<style type="text/css">
  body { background: url('/assets/bg-login.jpg') !important; }
</style>

<div class="hero-unit">
  <h1>EnNómina</h1>
  <p>Descripción de Ennómina</p>

  <p>
    <%= link_to "Login", new_session_path, class: "btn btn-primary btn-large" %>
    <%= link_to "Registrar", new_user_path, class: "btn btn-primary btn-large" %>
  </p>

  <p>
    <i class="fa-icon-facebook-sign"></i> Facebook
    <i class="fa-icon-twitter-sign"></i> Twitter
  </p>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
</div>
