<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @professional_category.name %>
</p>


<%= link_to 'Edit', edit_professional_category_path(@professional_category) %> |
<%= link_to 'Back', professional_categories_path %>
