#landing_content {
  text-align: center;
  padding-top: 60px;
  color: white;
}

#landing_content h1 {
  font-size: 6.0em;
  text-shadow: 0.0px -1.0px 0px black;
}

#landing_content p.description {
  font-size: 1.5em;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
}

#landing_content .btn {
  margin: 5px;
}
