<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contribution_group.name %>
</p>


<%= link_to 'Edit', edit_contribution_group_path(@contribution_group) %> |
<%= link_to 'Back', contribution_groups_path %>
